<div class="container">
    <div class="row">
        <h3 class="product-savings-title">Annual Cost Savings Summary</h3>
    </div>
    <div class="product-savings-content row">
        <div class="savings-showcase-wrapper">
            <p class="savings-showcase-text">Power Flex + Power Pro: <span class="savings-showcase-value">${{PowerProSavings}}</span></p>
        </div>
        <div class="savings-showcase-wrapper">
            <p class="savings-showcase-text">Power Flex + VictoryTape: <span class="savings-showcase-value">${{VictoryTapeSavings}}</span></p>
        </div>
        <div class="savings-showcase-wrapper">
            <p class="savings-showcase-text">Power Flex + PowerTape: <span class="savings-showcase-value">${{PowerTapeSavings}}</span></p>
        </div>
    </div>
</div>
