<div class="form-wrapper milliken-blue-background">
    <div class="form-title-wrapper">
        <h3>Current Annual Product Usage</h3>
    </div>
    <form>
        <div class="form-group row">
            <label for="adhesiveSprayInput" class="col-sm-6 col-form-label">Adhesive Spray (Bottles)</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="adhesiveSprayInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="heelPlusLaceInput" class="col-sm-6 col-form-label">Heel + Lace Pads (Cases)</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="heelPlusLaceInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="preWrapInput" class="col-sm-6 col-form-label">Pre-Wrap (Cases)</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="preeWrapInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="whiteTapeLowInput" class="col-sm-6 col-form-label">White Tape (economy) (Cases)</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="whiteTapeLowInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="whiteTapeHighInput" class="col-sm-6 col-form-label">White Tape (premium) (Cases)</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="whiteTapeHighInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="STEInput" class="col-sm-6 col-form-label">Stretch Tear Adhesive (STE) (Cases)</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="STEInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="cohesiveInput" class="col-sm-6 col-form-label">Cohesive (Cases)</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="cohesiveInput">
            </div>
        </div>
      </form>
      
      <button type="submit" class="btn btn-primary">Calculate Savings</button>
</div>
